.asks {
    flex: 1;
    padding-right: var(--gutterSm);
}

/* Asks Header */

.asksHeader {
    width: 100%;
    color: whitesmoke;
    height: 30px;
    display: flex;
}

.headerPart {
    flex: 1;
    display: flex;
    justify-content: end;
    font-size: 20px;
    align-items: center;
}

.dataPart {
    flex: 1;
    display: flex;
    justify-content: end;
    font-size: 20px;
    align-items: center;
}

.price {
    margin-right: var(--gutterSm);
    color: var(--main-green);
    text-shadow: 0 0 6px var(--main-green);
}