:root {
    --main-bg-color: #202020;
    --main-green: #009900;
    --main-red: #CC0033;
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --chrome-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.App {
    background-color: var(--main-bg-color);
    height: 100vh;
    overflow: auto;
    color: whitesmoke;
}
